Repository gardener/machine-controller-manager, pull requests merged in 2018-11, with the labels that each got.

#183 Splitting of health timeout into creation and health timeouts
  .ci/integration-tests
  Makefile
  cmd/machine-controller-manager/app/options/options.go
  pkg/controller/controller_suite_test.go
  pkg/controller/machine.go
  pkg/controller/machine_safety.go
  pkg/controller/machine_test.go
  pkg/options/types.go
Labels: area/usability, component/machine-controller-manager, kind/enhancement, needs/ok-to-test, needs/review, priority/normal, status/new, topology/seed

#184 Fixed misleading/wrong log message
  .ci/integration-tests
Labels: area/quality, component/machine-controller-manager, kind/enhancement, priority/normal, reviewed/lgtm, status/accepted

#188 Inject hostname for userdata for Alicloud provider when creating machine
  pkg/driver/driver_alicloud.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, plaltform/alicloud, priority/normal, size/xs, topology/seed

#191 Error handling during openstack create() call. Fixes #181
  pkg/controller/machine_test.go
  pkg/driver/driver_openstack.go
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, platform/openstack, size/xs
