Repository gardener/machine-controller-manager, pull requests merged in 2018-06, with the labels that each got.

#89 Propagate machine status to machineset and machinedeployment
  pkg/apis/machine/v1alpha1/types.go
  pkg/controller/deployment_machineset_util.go
  pkg/controller/deployment_sync.go
  pkg/controller/machine.go
Labels: kind/api-change, kind/enhancement

#100 Added test for updateMachineConditions in machine.go
  pkg/controller/machine.go
  pkg/controller/machine_test.go
Labels: platform/all, priority/normal, size/s, topology/seed

#105 Handling IOPs field when creating volume of type AWS io1
  pkg/apis/machine/validation/awsmachineclass.go
  pkg/driver/driver_aws.go
Labels: area/deployment, component/machine-controller-manager, kind/bug, needs/changes, platform/aws, priority/normal, size/xs, topology/seed

#106 Invoked orphan VM handler on machine object deletion
  pkg/controller/controller.go
  pkg/controller/machine_safety.go
Labels: area/deployment, component/machine-controller-manager, kind/enhancement, needs/review, platform/all, size/xs, topology/seed

#109 MachineSet updates status even when deletionTimestamp is set
  pkg/controller/machine.go
  pkg/controller/machineset.go
Labels: component/machine-controller-manager, kind/bug, lifecycle/do-not-merge, needs/review, size/xs

#115 Changing log to reflect correct behaviour
  pkg/controller/deployment.go
Labels: area/documentation, component/machine-controller-manager, kind/cleanup, platform/all, size/xs, status/accepted, topology/seed

#103 Added test for unfreezeMachineSetsAndDeployments in machine_safety.go
  pkg/controller/machine_safety.go
  pkg/controller/machine_safety_test.go
Labels: area/quality, component/machine-controller-manager, kind/test, needs/second-opinion, platform/all, priority/normal, size/s, status/under-investigation, topology/seed
