Repository gardener/machine-controller-manager, pull requests merged in 2018-09, with the labels that each got.

#142 Add Calico subnet to OpenStack ports
  kubernetes/openstack-machine-class.yaml
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/validation/openstackmachineclass.go
  pkg/driver/driver_openstack.go
  pkg/openapi/openapi_generated.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/ports/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/ports/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/ports/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/ports/urls.go
Labels: component/machine-controller-manager, kind/enhancement, needs/ok-to-test, platform/all, size/s, status/accepted, topology/seed

#147 Enhancement/integration tests
  .ci/integration-tests
  .ci/sample-objects/az/machine.yaml
  .ci/sample-objects/az/md-scale-down.yaml
  .ci/sample-objects/az/md-update.yaml
  .ci/sample-objects/az/md.yaml
  .ci/sample-objects/gcp/machine.yaml
  .ci/sample-objects/gcp/md-scale-down.yaml
  .ci/sample-objects/gcp/md-update.yaml
  .ci/sample-objects/gcp/md.yaml
  .ci/sample-objects/os/machine.yaml
  .ci/sample-objects/os/md-scale-down.yaml
  .ci/sample-objects/os/md-update.yaml
  .ci/sample-objects/os/md.yaml
  .gitignore
  pkg/controller/awsmachineclass.go
  pkg/controller/azuremachineclass.go
  pkg/controller/controller_ref_manager.go
  pkg/controller/controller_utils.go
  pkg/controller/deployment.go
  pkg/controller/gcpmachineclass.go
  pkg/controller/machine.go
  pkg/controller/machineset.go
  pkg/controller/openstackmachineclass.go
  pkg/controller/secret.go
Labels: area/quality, component/machine-controller-manager, kind/test, needs/ok-to-test, platform/aws, platform/gcp, priority/critical, size/m, status/in-progress, topology/seed

#170 Bugfix integration tests cleanup; Integration tests add support for Azure
  .ci/integration-tests
Labels: area/quality, component/machine-controller-manager, kind/bug, kind/enhancement, kind/test, needs/ok-to-test, needs/review, platform/aws, platform/az, platform/gcp, size/xs, topology/seed
