Repository gardener/machine-controller-manager, pull requests merged in 2018-07, with the labels that each got.

#116 Liveliness endpoint
  cmd/machine-controller-manager/app/controllermanager.go
  cmd/machine-controller-manager/controller_manager.go
  kubernetes/deployment/deployment.yaml
  pkg/controller/controller.go
  pkg/handlers/health.go
  pkg/handlers/health_test.go
Labels: area/deployment, component/machine-controller-manager, kind/enhancement, needs/review, platform/ali, size/s, status/in-progress

#113 [WIP] Proposal for excess reserve capacity
  docs/proposals/excess_reserve_capacity.md
Labels: area/cost, component/machine-controller-manager, kind/discussion, needs/second-opinion, platform/all, priority/normal, size/m, status/under-investigation

#118 Moved the CLI to its own package
  cmd/machine-controller-manager-cli/main.go
Labels: area/deployment, component/machine-controller-manager, exp/beginner, kind/enhancement, needs/review, platform/all
