Repository gardener/machine-controller-manager, pull requests merged in 2018-08, with the labels that each got.

#134 Fixed typos
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/controller/controller_utils.go
  pkg/controller/machine.go
  pkg/controller/machine_safety.go
  pkg/controller/machine_util.go
  pkg/driver/driver_aws.go
Labels: area/documentation, component/machine-controller-manager, kind/cleanup, priority/normal, size/xs

#133 Make test displays code coverage while running tests
  .ci/test
  .gitignore
  Makefile
Labels: area/quality, component/machine-controller-manager, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs, topology/seed

#139 Removed any unwanted re-enqueuing of machine objects
  pkg/controller/deployment_progress.go
  pkg/controller/deployment_util.go
  pkg/controller/machine.go
  pkg/controller/machine_util.go
  pkg/controller/machineset.go
Labels: area/dev-productivity, area/quality, component/machine-controller-manager, kind/cleanup, needs/ok-to-test, needs/review, platform/all, priority/critical, size/xl, topology/seed

#137 Add support for custom Prometheus metrics.
  pkg/controller/controller.go
  pkg/controller/metrics.go
Labels: area/monitoring, component/machine-controller-manager, kind/enhancement, platform/all, size/xl, status/accepted, topology/seed

#143 Removed linting issues, and update CI script
  .ci/integration-tests
  pkg/controller/metrics.go
  pkg/driver/driver_alicloud.go
Labels: needs/ok-to-test
