Repository gardener/machine-controller-manager, pull requests merged in 2019-06, with the labels that each got.

#273 Fix packet issues
  kubernetes/machine_classes/packet-machine-class.yaml
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/validation/packetmachineclass.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/driver/driver_packet.go
  pkg/openapi/openapi_generated.go
Labels: needs/ok-to-test

#270 Fixing handling of global timout for node drain
  pkg/controller/drain.go
Labels: needs/ok-to-test

#274 Add additionalPrinterColumns to example CRDs
  .ci/pipeline_definitions
  docs/development/testing_and_dependencies.md
  docs/usage/machine.md
  docs/usage/machine_deployment.md
  docs/usage/machine_set.md
  docs/usage/prerequisite.md
  kubernetes/crds.yaml
  pkg/controller/deployment_machineset_util.go
  pkg/controller/machine_util.go
  pkg/controller/machine_util_test.go
Labels: needs/ok-to-test

#276 Fix unit-tests
  pkg/controller/deployment_rollback_test.go
  pkg/controller/deployment_rolling_test.go
  pkg/controller/machine_util_test.go
Labels: needs/ok-to-test

#279 Fix panic in AWS driver if AMI not found.
  pkg/driver/driver_aws.go
Labels: component/machine-controller-manager, kind/bug, needs/ok-to-test, platform/aws

#282 Update test image to use golang@1.12.6
  .ci/pipeline_definitions
Labels: needs/ok-to-test

#275 Serialise eviction for pods with PVs
  Makefile
  cmd/machine-controller-manager/app/controllermanager.go
  cmd/machine-controller-manager/app/options/options.go
  pkg/controller/controller.go
  pkg/controller/drain.go
  pkg/controller/machine.go
  pkg/driver/driver.go
  pkg/driver/driver_alicloud.go
  pkg/driver/driver_aws.go
  pkg/driver/driver_azure.go
  pkg/driver/driver_fake.go
  pkg/driver/driver_gcp.go
  pkg/driver/driver_openstack.go
  pkg/driver/driver_packet.go
  pkg/options/types.go
Labels: needs/ok-to-test

#283 Enhancement/force deletion
  pkg/controller/machine.go
  pkg/controller/machine_test.go
  pkg/fakeclient/client.go
Labels: area/operations, component/machine-controller-manager, kind/regression, needs/ok-to-test, needs/review, platform/all, priority/normal, size/s, status/external-action, topology/seed
