Repository gardener/machine-controller-manager, pull requests merged in 2019-05, with the labels that each got.

#256 Enable support for taints, annotations and labels
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/controller/controller_suite_test.go
  pkg/controller/deployment.go
  pkg/controller/deployment_sync.go
  pkg/controller/deployment_sync_test.go
  pkg/controller/deployment_util.go
  pkg/controller/deployment_util_test.go
  pkg/controller/machine.go
  pkg/controller/machine_util.go
  pkg/controller/machine_util_test.go
  pkg/controller/machineset.go
  pkg/controller/machineset_test.go
  pkg/controller/machineset_util.go
  pkg/controller/metrics.go
  pkg/openapi/openapi_generated.go
Labels: needs/ok-to-test

#265 Bugfix: Existing machine-object now adopts node-label
  pkg/controller/machine.go
  pkg/controller/machine_test.go
Labels: area/robustness, component/machine-controller-manager, kind/bug, kind/regression, needs/ok-to-test, priority/critical, size/xs, status/external-action, topology/seed

#264 Bugfix/machinedeployment freeze sync
  pkg/controller/controller.go
  pkg/controller/deployment_util.go
  pkg/controller/machine_safety.go
  pkg/controller/machine_safety_test.go
Labels: kind/regression, needs/ok-to-test, needs/review, priority/critical, size/s, topology/seed

#268 Enhancement/taints
  pkg/controller/machine_util.go
  pkg/controller/machine_util_test.go
Labels: kind/enhancement, needs/ok-to-test, priority/critical

#271 Fix missing finalizers on alicloud machine class secrets
  pkg/controller/secret_util.go
Labels: needs/ok-to-test

#272 Let MCM release the Alicloud machine class secret finalizer
  pkg/controller/controller.go
  pkg/controller/secret.go
Labels: needs/ok-to-test
