Repository gardener/machine-controller-manager, pull requests merged in 2019-04, with the labels that each got.

#249 Improvement in drain logic
  pkg/controller/drain.go
Labels: component/machine-controller-manager, kind/enhancement, needs/ok-to-test, needs/second-opinion, platform/all, priority/normal, size/s, topology/seed

#251 Bugfix/unfreeze
  pkg/controller/controller_suite_test.go
  pkg/controller/deployment_rollback_test.go
  pkg/controller/deployment_rolling_test.go
  pkg/controller/machine_safety.go
  pkg/controller/machine_safety_test.go
  pkg/controller/machine_test.go
Labels: area/ops-productivity, component/machine-controller-manager, kind/bug, kind/regression, needs/ok-to-test, needs/review, platform/all, priority/critical, size/m, status/external-action, topology/seed

#253 Enhancement/manual unfreeze
  pkg/controller/deployment_util.go
  pkg/controller/machine_safety.go
  pkg/controller/machine_safety_test.go
Labels: area/robustness, component/machine-controller-manager, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/s, status/external-action, topology/seed

#248 Bugfix/azure wait for disk detach
  pkg/controller/drain.go
  pkg/controller/machine.go
  pkg/controller/machine_test.go
  pkg/driver/driver_azure.go
Labels: area/operations, component/machine-controller-manager, kind/bug, needs/ok-to-test, needs/review, platform/az, priority/critical, size/s, status/new, topology/seed

#254 Fixes merge conflicts in unit tests for machines
  pkg/controller/controller_suite_test.go
  pkg/controller/machine_test.go
Labels: kind/regression, needs/ok-to-test, priority/blocker

#257 Added safety controller cases in integration tests
  .ci/integration-tests
  .ci/sample-objects/aws/md-scale-up.yaml
  .ci/sample-objects/az/md-scale-up.yaml
  .ci/sample-objects/gcp/md-scale-up.yaml
  .ci/sample-objects/os/md-scale-up.yaml
  pkg/controller/machine_safety.go
Labels: area/quality, component/machine-controller-manager, kind/test, needs/ok-to-test, needs/review, platform/aws, platform/gcp, size/s, status/in-delivery, topology/seed
