Repository gardener/machine-controller-manager, pull requests merged in 2020-04, with the labels that each got.

#442 Add "auth-extra-groups" field to bootstrap token
  cmd/machine-controller-manager/app/controllermanager.go
  cmd/machine-controller-manager/app/options/options.go
  pkg/controller/controller.go
  pkg/controller/machine_bootstrap_token.go
  pkg/options/types.go
Labels: needs/ok-to-test

#414 Add gcp local ssd disk support
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/validation/gcpmachineclass.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/driver/driver_gcp.go
  pkg/openapi/openapi_generated.go
Labels: needs/changes, needs/ok-to-test, platform/gcp

#441 Support multiple network interfaces in the AWS driver
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/driver/driver_aws.go
  pkg/driver/driver_aws_test.go
Labels: needs/ok-to-test

#451 Do not adopt Nodes with empty ProviderID field
  pkg/controller/machine.go
  pkg/controller/machine_test.go
Labels: needs/ok-to-test

#447 Bugfix: Delete VM when disk doesn't exist
  pkg/driver/driver_aws.go
Labels: needs/ok-to-test

#397 Added support for Data Disks in Azure and AliCloud
  kubernetes/machine_classes/alicloud-machine-class.yaml
  kubernetes/machine_classes/aws-machine-class.yaml
  kubernetes/machine_classes/azure-machine-class.yaml
  kubernetes/machine_classes/gcp-machine-class.yaml
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/validation/alicloudmachineclass.go
  pkg/apis/machine/validation/alicloudmachineclass_test.go
  pkg/apis/machine/validation/awsmachineclass.go
  pkg/apis/machine/validation/awsmachineclass_test.go
  pkg/apis/machine/validation/azuremachineclass.go
  pkg/apis/machine/validation/azuremachineclass_test.go
  pkg/apis/machine/validation/validation_suite_test.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/driver/driver_alicloud.go
  pkg/driver/driver_alicloud_test.go
  pkg/driver/driver_aws_test.go
  pkg/driver/driver_azure.go
  pkg/driver/driver_azure_test.go
  pkg/driver/driver_test.go
  pkg/openapi/openapi_generated.go
Labels: area/scalability, kind/api-change, kind/enhancement, needs/ok-to-test, platform/alicloud, platform/azure, size/m, topology/seed

#450 Skip drain on NotReady Nodes
  pkg/controller/drain.go
  pkg/controller/machine.go
  pkg/controller/machine_test.go
Labels: needs/ok-to-test
