Repository gardener/machine-controller-manager, pull requests merged in 2020-03, with the labels that each got.

#416 Skip eviction during drain if ForceDeletePods.
  .ci/build
  pkg/controller/drain.go
  pkg/controller/drain_test.go
Labels: area/operations, component/machine-controller-manager, kind/regression, needs/ok-to-test, platform/all, priority/critical, size/xs, status/accepted

#424 Update the build badge
  README.md
  cmd/machine-controller-manager/app/controllermanager.go
  go.mod
  pkg/controller/machine_bootstrap_token.go
  pkg/controller/machine_util_test.go
  pkg/driver/driver_azure.go
  vendor/k8s.io/klog/README.md
Labels: needs/ok-to-test

#420 Porting fixes on rel-0.26.0 to master
  VERSION
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/driver/driver_aws.go
  pkg/driver/driver_aws_test.go
  pkg/metrics/metrics.go
  pkg/util/reflector/prometheus/prometheus.go
  pkg/util/workqueue/prometheus/prometheus.go
Labels: area/robustness, component/gardener, kind/regression, needs/ok-to-test, needs/review

#427 [openstack] Provide Fault information when Server creation ERRORs out
  pkg/driver/driver_openstack.go
Labels: needs/ok-to-test

#438 Azure: Allow to enable accelerated networking
  kubernetes/machine_classes/azure-machine-class.yaml
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/driver/driver_azure.go
  pkg/openapi/openapi_generated.go
Labels: needs/ok-to-test

#429 Sort active machines by creation timestamp
  pkg/controller/controller_suite_test.go
  pkg/controller/controller_utils.go
  pkg/controller/controller_utils_test.go
Labels: needs/ok-to-test

#436 Support VM Image ID for Azure
  kubernetes/machine_classes/azure-machine-class.yaml
  pkg/apis/machine/validation/azuremachineclass.go
  pkg/driver/driver_azure.go
Labels: needs/ok-to-test

#432 Improve machine creation and deletion flow by listing the machines before actual creation/deletion
  pkg/controller/machine.go
  pkg/controller/machine_test.go
  pkg/driver/driver.go
  pkg/driver/driver_azure.go
  pkg/driver/driver_fake.go
Labels: needs/ok-to-test
