Repository gardener/machine-controller-manager, pull requests merged in 2020-06, with the labels that each got.

#467 Fix typo in AWSMachineClass
  kubernetes/machine_classes/aws-machine-class.yaml
Labels: needs/ok-to-test

#471 Generate CRDs for APIs
  Makefile
  kubernetes/crds.yaml
  kubernetes/crds/machine.sapcloud.io_alicloudmachineclasses.yaml
  kubernetes/crds/machine.sapcloud.io_awsmachineclasses.yaml
  kubernetes/crds/machine.sapcloud.io_azuremachineclasses.yaml
  kubernetes/crds/machine.sapcloud.io_gcpmachineclasses.yaml
  kubernetes/crds/machine.sapcloud.io_machineclasses.yaml
  kubernetes/crds/machine.sapcloud.io_machinedeployments.yaml
  kubernetes/crds/machine.sapcloud.io_machines.yaml
  kubernetes/crds/machine.sapcloud.io_machinesets.yaml
  kubernetes/crds/machine.sapcloud.io_openstackmachineclasses.yaml
  kubernetes/crds/machine.sapcloud.io_packetmachineclasses.yaml
  kubernetes/crds/machine.sapcloud.io_scales.yaml
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/alicoud_machineclass_types.go
  pkg/apis/machine/v1alpha1/aws_machineclass_types.go
  pkg/apis/machine/v1alpha1/azure_machineclass_types.go
  pkg/apis/machine/v1alpha1/doc.go
  pkg/apis/machine/v1alpha1/gcp_machineclass_types.go
  pkg/apis/machine/v1alpha1/machine_types.go
  pkg/apis/machine/v1alpha1/machineclass_types.go
  pkg/apis/machine/v1alpha1/machinedeployment_types.go
  pkg/apis/machine/v1alpha1/machineset_types.go
  pkg/apis/machine/v1alpha1/openstack_machineclass_types.go
  pkg/apis/machine/v1alpha1/packet_machineclass_types.go
  pkg/apis/machine/v1alpha1/shared_types.go
  pkg/apis/machine/v1alpha1/types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/client/clientset/internalversion/typed/machine/internalversion/fake/fake_machine_client.go
  pkg/client/clientset/internalversion/typed/machine/internalversion/fake/fake_scale.go
  pkg/client/clientset/internalversion/typed/machine/internalversion/generated_expansion.go
  pkg/client/clientset/internalversion/typed/machine/internalversion/machine_client.go
  pkg/client/clientset/internalversion/typed/machine/internalversion/scale.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/fake/fake_machine_client.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/fake/fake_machinedeployment.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/fake/fake_machineset.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/fake/fake_machinetemplate.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/fake/fake_scale.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/machine_client.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/machinedeployment.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/machineset.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/machinetemplate.go
  pkg/client/clientset/versioned/typed/machine/v1alpha1/scale.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/machine/v1alpha1/interface.go
  pkg/client/informers/externalversions/machine/v1alpha1/machinetemplate.go
  pkg/client/listers/machine/internalversion/expansion_generated.go
  pkg/client/listers/machine/internalversion/scale.go
  pkg/client/listers/machine/v1alpha1/expansion_generated.go
  pkg/client/listers/machine/v1alpha1/machinetemplate.go
  pkg/client/listers/machine/v1alpha1/scale.go
  pkg/openapi/openapi_generated.go
Labels: kind/api-change, needs/ok-to-test, reviewed/lgtm

#475 fix vm creation when using image id
  pkg/driver/driver_azure.go
Labels: kind/regression, needs/ok-to-test, platform/azure, reviewed/lgtm

#477 Update instructions to add new cp support
  docs/development/cp_support_new.md
Labels: needs/ok-to-test, reviewed/lgtm

#480 Bugfix: Drain machines with only a valid NodeName
  pkg/controller/machine.go
  pkg/controller/machine_test.go
  pkg/util/provider/machinecontroller/controller_suite_test.go
  pkg/util/provider/machinecontroller/machine_test.go
  pkg/util/provider/machinecontroller/machine_util.go
Labels: kind/regression, needs/ok-to-test, priority/critical, reviewed/lgtm
