Repository gardener/machine-controller-manager, pull requests merged in 2020-08, with the labels that each got.

#493 Fixes regressions caused by PR #471
  kubernetes/crds/machine.sapcloud.io_machinedeployments.yaml
  pkg/controller/deployment_machineset_util.go
Labels: kind/regression, needs/ok-to-test, priority/blocker

#481 [aws] Spot Instances support
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/aws_machineclass_types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/driver/driver_aws.go
  pkg/openapi/openapi_generated.go
Labels: needs/ok-to-test

#495 Retry when secret is referred by machineClass is missing
  pkg/controller/controller_suite_test.go
  pkg/controller/machine.go
  pkg/controller/machine_test.go
Labels: needs/ok-to-test, reviewed/lgtm

#492 Add termination condition to deleting nodes
  kubernetes/deployment/in-tree/control-cluster-role.yaml
  kubernetes/deployment/out-of-tree/control-cluster-role.yaml
  pkg/controller/controller_utils.go
  pkg/controller/machine.go
  pkg/controller/machine_util.go
  pkg/controller/machine_util_test.go
  pkg/util/conditions/conditions.go
Labels: needs/ok-to-test, reviewed/lgtm

#500 Limit the Random Hash in the MachineSet Name
  pkg/controller/deployment_sync.go
Labels: needs/ok-to-test, reviewed/lgtm

#484 Add migration logic for moving from in-tree to out-of-tree
  cmd/machine-controller-manager/app/controllermanager.go
  cmd/machine-controller-manager/app/options/options.go
  docs/development/cp_support_new.md
  docs/development/machine_error_codes.md
  kubernetes/deployment/out-of-tree/deployment.yaml
  pkg/controller/alicloudmachineclass.go
  pkg/controller/awsmachineclass.go
  pkg/controller/awsmachineclass_test.go
  pkg/controller/azuremachineclass.go
  pkg/controller/controller.go
  pkg/controller/controller_suite_test.go
  pkg/controller/deployment_sync.go
  pkg/controller/deployment_util.go
  pkg/controller/gcpmachineclass.go
  pkg/controller/gcpmachineclass_test.go
  pkg/controller/machineset.go
  pkg/controller/machineset_util.go
  pkg/controller/openstackmachineclass.go
  pkg/controller/packetcloudmachineclass.go
  pkg/options/types.go
  pkg/util/provider/driver/driver.go
  pkg/util/provider/driver/fake.go
  pkg/util/provider/machinecontroller/machine.go
  pkg/util/provider/machinecontroller/machine_test.go
  pkg/util/provider/machinecontroller/machine_util.go
  pkg/util/provider/machinecontroller/machineclass.go
  pkg/util/provider/machinecontroller/machineclass_test.go
  pkg/util/provider/machinecontroller/migrate_machineclass.go
  pkg/util/provider/machinecontroller/migrate_machineclass_test.go
  pkg/util/provider/machinecontroller/secret.go
  pkg/util/provider/machinecontroller/secret_util.go
  pkg/util/provider/machineutils/utils.go
Labels: needs/ok-to-test, reviewed/lgtm
