Repository gardener/machine-controller-manager, pull requests merged in 2020-10, with the labels that each got.

#515 Allow deletion of machines where modify instance fails on deletion
  pkg/driver/driver_aws.go
Labels: needs/ok-to-test, needs/review

#525 Cherry-pick on master: Introduce delay in re-enqueuing machines during creation-deletion failures.
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/machine_types.go
  pkg/controller/controller_utils.go
  pkg/controller/deployment_machineset_util.go
  pkg/controller/machine.go
  pkg/controller/machine_test.go
  pkg/controller/metrics.go
Labels: needs/ok-to-test, reviewed/lgtm

#523 Introduce delay in re-enqueuing machines during creation--deletion failures.
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/machine_types.go
  pkg/controller/controller_utils.go
  pkg/controller/deployment_machineset_util.go
  pkg/controller/machine.go
  pkg/controller/machine_test.go
  pkg/controller/metrics.go
Labels: needs/ok-to-test, reviewed/lgtm

#527 Introduce constant backoff while enqueuing machine objects on creatio…
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/machine_types.go
  pkg/controller/controller_utils.go
  pkg/controller/deployment_machineset_util.go
  pkg/controller/machine.go
  pkg/controller/machine_test.go
  pkg/controller/metrics.go
Labels: needs/ok-to-test, reviewed/lgtm

#531 Bugfix: Fixed issues with machineClass finalizers
  pkg/controller/alicloudmachineclass.go
  pkg/controller/awsmachineclass.go
  pkg/controller/azuremachineclass.go
  pkg/controller/controller.go
  pkg/controller/gcpmachineclass.go
  pkg/controller/openstackmachineclass.go
  pkg/controller/packetcloudmachineclass.go
  pkg/util/provider/machinecontroller/controller.go
  pkg/util/provider/machinecontroller/machineclass.go
  pkg/util/provider/machinecontroller/machineclass_test.go
Labels: needs/ok-to-test, needs/second-opinion, size/l

#532 Bugfix: Fixed issues with machineClass finalizers (rel-v0.34.0)
  pkg/controller/alicloudmachineclass.go
  pkg/controller/awsmachineclass.go
  pkg/controller/azuremachineclass.go
  pkg/controller/controller.go
  pkg/controller/gcpmachineclass.go
  pkg/controller/openstackmachineclass.go
  pkg/controller/packetcloudmachineclass.go
  pkg/util/provider/machinecontroller/controller.go
  pkg/util/provider/machinecontroller/machineclass.go
  pkg/util/provider/machinecontroller/machineclass_test.go
Labels: needs/ok-to-test, needs/second-opinion, size/l

#533 Fix typo in documentation
  docs/development/cp_support_new.md
Labels: needs/ok-to-test, size/xs

#530 Improve documentation with FAQ
  README.md
  docs/FAQ.md
  docs/design/README.md
Labels: needs/ok-to-test, reviewed/lgtm, size/l

#543 Add NetworkUnavailable as node condition
  cmd/machine-controller-manager/app/options/options.go
  kubernetes/deployment/in-tree/deployment.yaml
  kubernetes/deployment/out-of-tree/deployment.yaml
  kubernetes/machine_objects/machine-deployment.yaml
  pkg/controller/machine_test.go
  pkg/util/provider/app/options/options.go
  pkg/util/provider/machinecontroller/machine_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#546 Removing excessive spaces in FAQ
  docs/FAQ.md
Labels: reviewed/lgtm, size/xs
