Repository gardener/machine-controller-manager, pull requests merged in 2021-06, with the labels that each got.

#617 Secrets moved to controlCoreObjects in tests
  pkg/util/provider/machinecontroller/controller_suite_test.go
  pkg/util/provider/machinecontroller/machine_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#593 Machines are reconciled only when MachineClasses have valid finalizers
  kubernetes/crds/machine.sapcloud.io_machinedeployments.yaml
  pkg/util/provider/machinecontroller/controller_suite_test.go
  pkg/util/provider/machinecontroller/machine.go
  pkg/util/provider/machinecontroller/machine_test.go
  pkg/util/provider/machinecontroller/machine_util.go
  pkg/util/provider/machinecontroller/machineclass.go
  pkg/util/provider/machinecontroller/machineclass_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#620 Replace integration test with unit test to test the functionality to freeze MachineSet
  .ci/integration-tests
  pkg/controller/machine_safety_test.go
  pkg/util/provider/machinecontroller/machine.go
  pkg/util/provider/machinecontroller/machine_safety.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#624 Removed an unwanted log
  pkg/util/provider/machinecontroller/machineclass.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#626 Fixes regressions from PR#593 and PR#612
  pkg/util/provider/machinecontroller/machine.go
  pkg/util/provider/machinecontroller/machine_safety.go
  pkg/util/provider/machinecontroller/machine_safety_test.go
  pkg/util/provider/machinecontroller/machine_safety_util.go
  pkg/util/provider/machinecontroller/machine_util.go
  pkg/util/provider/machinecontroller/machineclass.go
Labels: needs/ok-to-test, needs/review, size/m

#623 Restore integration test along with UTs
  .ci/integration-tests
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#627 Allow controlled machine drain and rollout
  pkg/controller/deployment_rolling.go
  pkg/controller/deployment_util.go
  pkg/util/nodeops/taints.go
  pkg/util/provider/drain/drain.go
  pkg/util/provider/drain/volume_attachment.go
  pkg/util/provider/machinecontroller/machine.go
Labels: needs/ok-to-test, needs/review, size/s
