Repository gardener/machine-controller-manager, pull requests merged in 2021-11, with the labels that each got.

#648 Logic for user triggered machine deletion
  .ci/test
  pkg/util/provider/machinecontroller/machine.go
  pkg/util/provider/machineutils/utils.go
Labels: needs/changes, needs/ok-to-test, size/s, merge/squash

#654 Change docforge manifest
  .docforge/manifest.yaml
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#659 Refactor Orphan collection logic
  pkg/util/provider/machinecontroller/machine_safety.go
  pkg/util/provider/machinecontroller/machine_safety_test.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#660 IT suite waits to delete machine object
  pkg/test/integration/common/framework.go
  pkg/test/integration/common/helpers/machine_resources.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#652 Introduce `NodeTemplate` attribute in MachineClass
  kubernetes/crds/machine.sapcloud.io_machineclasses.yaml
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/machineclass_types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/util/provider/machinecontroller/machine_util.go
  pkg/util/provider/machinecontroller/machine_util_test.go
Labels: kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm
