Repository gardener/machine-controller-manager, pull requests merged in 2023-09, with the labels that each got.

#842 Introduce new metrics to track API call duration and Update status.Status to capture underlying cause
  pkg/util/provider/machinecodes/status/status.go
  pkg/util/provider/metrics/metrics.go
Labels: reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/s

#851 Add `errorCode` field in `LastOperation` struct
  docs/documents/apis.md
  kubernetes/crds/machine.sapcloud.io_machinedeployments.yaml
  kubernetes/crds/machine.sapcloud.io_machines.yaml
  kubernetes/crds/machine.sapcloud.io_machinesets.yaml
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/machine_types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/openapi/openapi_generated.go
  pkg/util/provider/machinecodes/status/status.go
  pkg/util/provider/machinecontroller/machine_test.go
  pkg/util/provider/machinecontroller/machine_util.go
Labels: reviewed/ok-to-test, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm

#852 Updates to local setup scripts and introduce new local setup scripts for non-gardener use cases
  Makefile
  docs/development/integration_tests.md
  docs/development/local_setup.md
  hack/gardener_local_restore.sh
  hack/gardener_local_setup.sh
  hack/non_gardener_local_restore.sh
  hack/non_gardener_local_setup.sh
  hack/tools.mk
  hack/tools/bin/addlicense
Labels: reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/l
