Repository gardener/machine-controller-manager, pull requests merged in 2023-03, with the labels that each got.

#797 Fixed broken links - 2023.03
  docs/documents/apis.md
Labels: needs/review, needs/ok-to-test, size/s

#800 Fix the API docs generation
  .gitignore
  docs/documents/apis.md
  hack/api-reference/generate-spec-doc.sh
Labels: size/xl, needs/ok-to-test, needs/second-opinion

#794 Fix linting issues in `controller` package
  pkg/controller/controller_suite_test.go
  pkg/controller/controller_utils.go
  pkg/controller/deployment.go
  pkg/controller/deployment_machineset_util.go
  pkg/controller/deployment_rollback.go
  pkg/controller/deployment_sync.go
  pkg/controller/deployment_sync_test.go
  pkg/controller/deployment_test.go
  pkg/controller/hashtest.go
  pkg/controller/machineset.go
  pkg/controller/machineset_test.go
  pkg/fakeclient/client.go
  pkg/util/provider/app/app.go
  pkg/util/provider/machinecodes/codes/codes.go
  pkg/util/time/time_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/l

#793 Fix linting issues in `apis` package
  pkg/apis/machine/register.go
  pkg/apis/machine/v1alpha1/defaults.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#795 Fix linting issues in `test`, `handlers` and `features` packages
  go.mod
  go.sum
  pkg/features/machine_features.go
  pkg/handlers/health.go
  pkg/test/integration/common/framework.go
  pkg/test/integration/common/helpers/handling_files.go
  pkg/test/utils/matchers/deep.go
  pkg/test/utils/matchers/kubernetes_errors.go
  pkg/test/utils/matchers/matchers.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_generic.go
  vendor/golang.org/x/crypto/ssh/knownhosts/knownhosts.go
  vendor/golang.org/x/time/AUTHORS
  vendor/golang.org/x/time/CONTRIBUTORS
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/golang.org/x/tools/go/ast/inspector/inspector.go
  vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  vendor/golang.org/x/tools/go/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/internal/gcimporter/bexport.go
  vendor/golang.org/x/tools/internal/gcimporter/bimport.go
  vendor/golang.org/x/tools/internal/gcimporter/exportdata.go
  vendor/golang.org/x/tools/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gcimporter/newInterface10.go
  vendor/golang.org/x/tools/internal/gcimporter/newInterface11.go
  vendor/golang.org/x/tools/internal/gcimporter/support_go117.go
  vendor/golang.org/x/tools/internal/gcimporter/support_go118.go
  vendor/golang.org/x/tools/internal/gcimporter/unified_no.go
  vendor/golang.org/x/tools/internal/gcimporter/unified_yes.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader_no.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader_yes.go
  vendor/golang.org/x/tools/internal/gocommand/version.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/golang.org/x/tools/internal/imports/sortimports.go
  vendor/golang.org/x/tools/internal/imports/zstdlib.go
  vendor/golang.org/x/tools/internal/pkgbits/codes.go
  vendor/golang.org/x/tools/internal/pkgbits/decoder.go
  vendor/golang.org/x/tools/internal/pkgbits/doc.go
  vendor/golang.org/x/tools/internal/pkgbits/encoder.go
  vendor/golang.org/x/tools/internal/pkgbits/flags.go
  vendor/golang.org/x/tools/internal/pkgbits/frames_go1.go
  vendor/golang.org/x/tools/internal/pkgbits/frames_go17.go
  vendor/golang.org/x/tools/internal/pkgbits/reloc.go
  vendor/golang.org/x/tools/internal/pkgbits/support.go
  vendor/golang.org/x/tools/internal/pkgbits/sync.go
  vendor/golang.org/x/tools/internal/pkgbits/syncmarker_string.go
  vendor/golang.org/x/tools/internal/tokeninternal/tokeninternal.go
  vendor/k8s.io/utils/net/ipfamily.go
  vendor/k8s.io/utils/net/net.go
  vendor/k8s.io/utils/net/port.go
  vendor/modules.txt
Labels: reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/l

#803 Edge cases corrected where all machineSets were scaling down to zero
  pkg/controller/controller_suite_test.go
  pkg/controller/deployment_sync.go
  pkg/controller/deployment_sync_test.go
  pkg/controller/machineset.go
  pkg/test/integration/common/framework.go
Labels: size/xl, needs/ok-to-test, needs/second-opinion
