Repository gardener/machine-controller-manager, pull requests merged in 2023-11, with the labels that each got.

#864 Fix Rotation of log files in IT
  pkg/test/integration/common/framework.go
Labels: reviewed/ok-to-test, size/xs, needs/ok-to-test, reviewed/lgtm

#867 Improved rate-limited machine removal logs
  pkg/util/provider/machinecontroller/machine_util.go
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm

#866 Remove NotManagedByMCM when not applicable
  pkg/util/provider/app/options/options.go
  pkg/util/provider/machinecontroller/machine_safety.go
  pkg/util/provider/machinecontroller/machine_safety_test.go
  pkg/util/provider/machinecontroller/machine_safety_util.go
  pkg/util/provider/machinecontroller/machine_safety_util_test.go
Labels: needs/changes, needs/review, needs/ok-to-test, size/m

#869 Remove Kubeconfig dependency for verification of control cluster in IT
  docs/development/integration_tests.md
  pkg/test/integration/common/framework.go
  pkg/test/integration/common/helpers/cluster.go
Labels: reviewed/ok-to-test, needs/ok-to-test, size/m, reviewed/lgtm

#873 Removed old IT code from mcm.
  .ci/integration-tests
  .ci/test
Labels: size/xl, needs/ok-to-test, reviewed/lgtm

#876 Update go to `1.21.4`
  .ci/pipeline_definitions
  Dockerfile
  go.mod
  go.sum
  vendor/github.com/onsi/ginkgo/v2/extensions/table/deprecated.go
  vendor/modules.txt
Labels: size/xs, needs/ok-to-test, reviewed/lgtm
