Repository gardener/machine-controller-manager, pull requests merged in 2024-10, with the labels that each got.

#937 Don't track reattachment of provider-unrelated PVs
  pkg/util/provider/drain/drain.go
  pkg/util/provider/drain/drain_test.go
Labels: kind/bug, reviewed/ok-to-test, needs/ok-to-test, status/accepted, reviewed/lgtm, size/l

#946 Fixed broken links - 2024.10
  docs/FAQ.md
Labels: needs/ok-to-test, size/m, reviewed/lgtm

#947 Fix context declaration for vol detachment and reattachment
  pkg/util/provider/app/app.go
  pkg/util/provider/drain/drain.go
  pkg/util/provider/drain/drain_test.go
  pkg/util/provider/machinecontroller/controller.go
  pkg/util/provider/machinecontroller/machine_util.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm

#949 Reduce load on etcd/kube-apiserver on pod eviction
  pkg/util/provider/app/app.go
  pkg/util/provider/drain/drain.go
  pkg/util/provider/drain/drain_test.go
  pkg/util/provider/drain/fake_controller.go
  pkg/util/provider/machinecontroller/controller.go
  pkg/util/provider/machinecontroller/controller_suite_test.go
  pkg/util/provider/machinecontroller/machine_util.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s
