Repository gardener/machine-controller-manager, pull requests merged in 2025-03, with the labels that each got.

#970 [GEP-31] Introduce label constants and `MachineConfiguration` options for in-place updates
  docs/documents/apis.md
  kubernetes/crds/machine.sapcloud.io_machinedeployments.yaml
  kubernetes/crds/machine.sapcloud.io_machines.yaml
  kubernetes/crds/machine.sapcloud.io_machinesets.yaml
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/constants.go
  pkg/apis/machine/v1alpha1/register.go
  pkg/apis/machine/v1alpha1/shared_types.go
  pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/machine/zz_generated.deepcopy.go
  pkg/controller/machineset.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/util/provider/app/options/options.go
  pkg/util/provider/drain/drain.go
  pkg/util/provider/machineutils/utils.go
  pkg/util/provider/options/types.go
Labels: reviewed/ok-to-test, kind/api-change, needs/review, needs/ok-to-test, size/m

#969 Transfer Frontmatter - 2025.02
  docs/FAQ.md
  docs/documents/_index.md
  docs/proposals/_index.md
  docs/todo/_index.md
Labels: reviewed/ok-to-test, size/xs, needs/ok-to-test, reviewed/lgtm

#968 Ensure cleanup of IT resources and processes
  .ci/test
  go.mod
  go.sum
  pkg/controller/machine_safety.go
  pkg/test/integration/common/framework.go
  pkg/util/provider/machinecontroller/machine_test.go
Labels: reviewed/ok-to-test, size/xl, needs/ok-to-test, reviewed/lgtm

#972 Trigger removal of CA tainted machine without waiting for replica change
  pkg/controller/controller_utils.go
  pkg/controller/deployment_test.go
  pkg/controller/deployment_util.go
  pkg/controller/machineset.go
  pkg/controller/machineset_test.go
  pkg/controller/machineset_util.go
  pkg/util/provider/machineutils/utils.go
Labels: needs/review, needs/ok-to-test, size/m
