Repository gardener/machine-controller-manager, pull requests merged in 2025-04, with the labels that each got.

#978 Update golangci-lint version
  .ci/check
  hack/tools.mk
Labels: needs/review, size/xs, needs/ok-to-test

#980 [GEP-31] Introduce Constants needed for Conditons and Status for InPlace update
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/machine_types.go
  pkg/util/provider/machineutils/utils.go
Labels: needs/changes, kind/api-change, needs/review, needs/ok-to-test, needs/second-opinion, size/s

#983 [rel-v0.57] [GEP-31] Introduce Constants needed for Conditons and Status for InPlace update
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/machine_types.go
  pkg/util/provider/machineutils/utils.go
Labels: kind/api-change, needs/review, needs/ok-to-test, needs/second-opinion, size/s

#981 Minor fixes
  pkg/apis/machine/types.go
  pkg/apis/machine/v1alpha1/machinedeployment_types.go
  pkg/util/provider/machinecontroller/machine_test.go
  pkg/util/provider/machinecontroller/machine_util.go
Labels: kind/api-change, needs/review, size/xs, needs/ok-to-test, needs/second-opinion

#985 Fix version logging at binary startup.
  .ci/build
  Makefile
  cmd/machine-controller-manager/app/controllermanager.go
  pkg/util/provider/app/app.go
  pkg/version/version.go
Labels: reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/s
